<a href="https://colab.research.google.com/github/codestates/ds-section1-sprint1-new/blob/main/n113%20%26%20114%20-%20Data%20Wrangling/n113a-Data%20Wrangling(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 3*

---

# 📝 Assignment

# **🌱 기본 과제**

**Data Description**

- `Poster_Link` : Link of the poster that imdb using
- `Series_Title` : Name of the movie
- `Released_Year` : Year at which that movie released
- `Certificate` : Certificate earned by that movie
- `Runtime` : Total runtime of the movie
- `Genre` : Genre of the movie
- `IMDB_Rating` : Rating of the movie at IMDB site
- `Overview` : mini story/ summary
- `Meta_score` : Score earned by the movie (0 ~ 100)
- `Director` : Name of the Director
- `Star1` , `Star2` , `Star3` , `Star4` : Name of the Stars
- `Noofvotes` : Total number of votes
- `Gross` : Money earned by that movie

## **Part 1. EDA**

### **1-1. 데이터 불러오기**

In [ ]:
# 이곳에 코드를 작성하세요.

### **1-2. 데이터 탐색**

- `.info()` 메서드를 통해 데이터에서 아래의 사안을 확인하세요.
  - 데이터셋의 행과 열 크기를 확인합니다.
  - 각 column의 데이터 타입이 적절한지 확인합니다.
  - 결측치 여부를 확인합니다.

In [ ]:
# 이곳에 코드를 작성하세요.

##### **Q1. `Released_Year` 안에 숫자가 아닌 잘못된 데이터가 총 몇 개인지 쓰세요.**

- `Released_Year` column의 데이터타입이 object로 나오는 이유는 숫자가 아닌 문자열이 존재하기 때문입니다.
- [`str.contains()`](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.contains.html)를 활용하여 `Released_Year` column 내에 숫자 형태가 아닌 value를 추출해보세요.

> 💡 **Tip)** <br>
- `.startswith()`
- `re.findall()`
- `re.search()`
- `re.match()` <br>
를 활용해볼 수도 있습니다.

In [ ]:
# 이곳에 코드를 작성하세요.

##### **Q2. `Released_Year`에서 숫자가 아닌 잘못된 데이터가 들어있는 행을 삭제한 뒤 전체 행의 갯수를 쓰세요.**

In [ ]:
# 이곳에 코드를 작성하세요.

### **1-3. 결측치 확인**

- 위의 과정을 모두 거친 데이터 프레임에서, 결측치가 있는 3개의 column에 대해 `.isnull()`을 활용하여 결측치 데이터를 모두 추출하세요. 
  - 추출한 데이터는 데이터프레임 형태로 반환하도록 합니다.
- 해당 결측치를 어떻게 처리하면 좋을지 생각해봅시다.

##### **Q3. 결측치가 있는 행을 모두 추출하여 만든 데이터프레임의 shape을 쓰세요.**

In [ ]:
# 이곳에 코드를 작성하세요.

### **1-4. 아웃라이어 확인**

`Meta_score`의 점수 범위를 살펴보고, 이상치가 존재하는지 판단해봅니다.

##### **Q4. `Meta_score`의 범주 안에 포함되지 않는 데이터를 제거한 후, 통계치를 확인하여 전체 `Meta_score`의 평균이 얼마나 변화했는지 반올림하여 소수점 둘째 자리까지 구하세요.**

- `query`를 활용하여 `Meta_score`가 0~100 사이에 있지 않은 데이터를 추출합니다.
- (해당 데이터를 제거한 후의 평균값) - (해당 데이터를 제거하기 전의 평균값) 의 결과를 반올림하여 소수점 둘째 자리까지 확인합니다.

In [ ]:
# 이곳에 코드를 작성하세요.

### **1-5. 중복값 확인**

##### **Q5. 중복되는 데이터의 개수를 쓰세요.**

In [ ]:
# 이곳에 코드를 작성하세요.

# **🥇 도전 과제**

##### **`Poster_Link` 피쳐에 형식이 `https://`로 시작하지 않는 데이터를 파악하세요.**

In [ ]:
# 이곳에 코드를 작성하세요.

##### **`Poster_Link`의 모든 데이터가 `https://` 형식이 되도록, 위에서 추출한 오류 데이터에 `https://`를 넣으세요.**

In [ ]:
# 이곳에 코드를 작성하세요.