<a href="https://colab.research.google.com/github/codestates/ds-section1-sprint1-new/blob/main/n113%20%26%20114%20-%20Data%20Wrangling/n114a-Data%20Wrangling(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://user-images.githubusercontent.com/6457691/89746244-a6e2a200-daf3-11ea-9314-7863d544d73c.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 4*

# 📝 Assignment

---

# **🌱 기본 과제**

## **Part 1. Data Wranling**

### **1-1. 데이터 불러오기**
- 데이터 프레임을 불러오세요.
- `info()`를 통해 데이터의 정보를 확인하세요.
- `isnull()`를 통해 데이터에 missing values가 존재하는지 확인하세요.

In [ ]:
# 이곳에 코드를 작성하세요.

### **1-2. EDA**

##### **Q1. `Gross` column의 최대값과 75% 사분위값의 차이를 구하세요.**
- `.replace()`와 `.astype()`을 활용하여 `Gross` column의 데이터 타입을 `Integer`로 변경하세요. 
- `.max()` 함수와 `quantile(q=0.75)` 함수를 활용하여 최대값과 75% 사분위값의 차이를 확인하세요.
- 두 값의 차는 양수가 나와야 합니다.

In [ ]:
# 이곳에 코드를 작성하세요.

##### **Q2. 최대값과 75% 사분위값 사이에 수치적으로 큰 차이가 존재할 때, 무엇을 의심해볼 수 있을까요?**

1. 결측치(Missing Values)
2. 중복값(Duplicates)
3. 이상치(Outliers)
4. 정답 없음

##### **Q3. `Runtime` column의 평균값을 반올림하여 소수점 둘째 자리까지 구하세요.**
- `.extract()`와 `.astype()`을 활용하여 `Runtime` column의 데이터 타입을 `Integer`로 변경하세요. 
- `Runtime` column의 평균값을 확인하세요.

In [ ]:
# 이곳에 코드를 작성하세요.

0      142
1      175
2      152
3      202
4       96
      ...
984    157
985    144
986     78
988     87
991    118
Name: Runtime, Length: 711, dtype: int64

##### **Q4. `.drop()`을 사용하여 column을 제거할 때, axis 파라미터는 어떤 값으로 지정해야 할까요?**
- 불필요한 `column`인 `Poster_Link`와 `Overview`를 제거하세요.

In [ ]:
# 이곳에 코드를 작성하세요.

##### **Q5. 아래의 과정을 모두 진행한 후, 해당 데이터셋의 마지막 row의 `Star_Name`를 쓰세요.**
- `.melt()` 를 사용하여 데이터의 구조를 아래와 같이 바꾸세요.
<img src='https://i.imgur.com/G6DPJMj.png'>

  - `.melt()` 함수의 value_vars와 var_name 파라미터를 설정하여 star1, star2, star3, star4를 `Stars` 컬럼에 저장하세요. 
  - `.melt()` 함수의 value_name 파라미터를 설정하여 star1, star2, star3, star4의 데이터(배우이름)를 `Star_Name` 컬럼에 저장하세요. 
- `.sort_values` 함수를 활용하여 데이터를 Series_Title, Stars 순으로 정렬하세요.
  - 인덱스를 재설정하세요.

In [ ]:
# 이곳에 코드를 작성하세요.

# **🥇 도전 과제**

여러 데이터셋을 합칠 때에는 `concat`, `merge`, `join` 등의 함수를 활용할 수 있습니다.

이번 과제를 통해서는 Toy Data를 활용하여 `concat`, `merge`, `join`의 결과를 직관적으로 살펴보고, 각 함수의 차이점을 파악해봅니다. 특히 파라미터를 변경해가며 작동원리를 자세히 살펴보세요.

In [ ]:
df1 = pd.DataFrame({'a':['a0','a1','a2','a3'],
                   'b':['b0','b1','b2','b3'],
                   'c':['c0','c1','c2','c3']},
                  index = [0,1,2,3])

df2 = pd.DataFrame({'a':['a2','a3','a4','a5'],
                   'b':['b2','b3','b4','b5'],
                   'c':['c2','c3','c4','c5'],
                   'd':['d2','d3','d4','d5']},
                   index = [2,3,4,5])

## **Part 2. concat**
- axis 파라미터를 조정하여 열방향으로 두 데이터셋을 합쳐보세요.
- axis 파라미터를 조정하여 행방향으로 두 데이터셋을 합쳐보세요.

In [ ]:
# 이곳에 코드를 작성하세요.

## **Part 3. merge**
- `a` column을 기준으로 how 파라미터에 각각 'inner', 'outer', 'left', 'right'를 적용하여 두 데이터셋을 합친 후, 그 차이를 확인해보세요.

In [ ]:
# 이곳에 코드를 작성하세요.

## **Part 4. join**
- .join()을 사용하여 다음과 같은 결과물을 만들어보세요.

||a\_x|b\_x|c\_x|a\_y|b\_y|c\_y|d|
|---|---|---|---|---|---|---|---|
|**2**|a2|b2|c2|a2|b2|c2|d2|
|**3**|a3|b3|c3|a3|b3|c3|d3|
|**4**|NaN|NaN|NaN|a4|b4|c4|d4|
|**5**|NaN|NaN|NaN|a5|b5|c5|d5|

In [ ]:
# 이곳에 코드를 작성하세요.